.modalOverlay {
  position: fixed;
  inset: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  background: rgba(0, 0, 0, 0.342);
  backdrop-filter: blur(5px);

  z-index: 9999999;
}

.modal {
  max-width: 800px;
  width: 100%;
  padding: 24px;

  background: #18181b;
  border-radius: 12px;
}