
header {
  position: fixed;
  
  margin-inline: auto;
  top: .5rem;
  left: 0;
  right: 0;
  width: 98%;

  font-family: "JetBrains Mono", monospace;
  
  .header {
    
    .glass-surface__content {
      display: flex;
      align-items: center;
      padding-inline: 1rem;
      /* background-color: rgba(0, 0, 0, 0.811); */
      border-radius: 20px;
      
      color: white;

      justify-content: space-between;
    }

    span {
      color: orange;
    }
  }
}
