header.headerContainer {
  position: sticky;

  margin-inline: auto;
  top: 0.5rem;
  left: 0;
  right: 0;
  /* width: 98%; */

  margin-bottom: 2rem;

  z-index: 9999;

  font-family: "JetBrains Mono", monospace;

  .glass-surface--fallback {
    border: unset;
    outline: unset;

    .glass-surface__filter {
      filter: blur(10px);
    }

    background: rgba(255, 255, 255, 0.028);

  }
  .header {
    .glass-surface__content {
      
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      row-gap: 0.5rem;
      column-gap: 1rem;
      padding-inline: 1rem;
      padding-block: 0.75rem;
      /* background-color: rgba(0, 0, 0, 0.811); */
      border: unset;
      border-radius: 20px;

      color: white;

      justify-content: space-between;
    }

    h2 {
      white-space: nowrap;
    }

    span {
      color: orange;
    }
  }

  nav {
    &:has(a:hover) a:not(:hover) {
      opacity: 0.5;
    }
  }

  a {
    transition: all 0.2s ease;

    &:hover {
      transform: scale(1.2);
      opacity: 1;
      padding-inline: 0.5rem;
    }

    &:focus {
      padding: unset;
      transform: unset;
    }
  }

  @media (max-width: 740px) {
    .header .glass-surface__content {
      justify-content: center;
      height: fit-content;
      text-align: center;
      gap: unset;

      flex-direction: column;

      a {
        opacity: 0.7;

        &:hover,
        &:focus {
          opacity: 1;
        }
      }
    }

    .header h2 {
      font-size: 1rem;
    }

    .header nav {
      flex-wrap: wrap;
      justify-content: center;
      row-gap: 0.1rem;
    }

    .header nav a {
      font-size: 0.85rem;
    }
  }
}
