.cardCertificado {
  border-style: dashed;
  font-family: "JetBrains Mono", monospace;

  img {
    align-self: center;
    width: 100%;
    max-width: 450px;
    aspect-ratio: 16 / 9;

    object-fit: cover;
    border-radius: .7rem;

    @media (max-width: 800px) {
      max-width: 300px;
    }
  }

  h4 {
    font-size: 1.3rem;
    margin-block: 1rem;

    @media (max-width: 600px) {
      font-size: 1rem;
      margin-block: .5rem;
    }
  }

  p {
    color: var(--gray);
    opacity: .8;

    text-align: justify;
  }

  &:hover {
    box-shadow: 0px 0px 50px color-mix(in srgb, var(--green) 20%, transparent);
    border-color: var(--green);
    border-style: dashed;
  }
}