#root {
  max-width: 1200px;
  margin-inline: auto;
}

html {
  overflow-x: hidden;
}

.mainContainer {
  display: flex;
  flex-direction: column;
  gap: 3.5rem;

  .tecnologias {
    background-color: rgba(0, 0, 0, 0.554);
    border-block: 1px solid #80808058;

    width: 100vw;
    height: 60px;

    margin-left: calc(50% - 50vw);
    margin-right: calc(50% - 50vw);
    overflow-y: hidden;

    display: flex;
    justify-content: center;
    align-items: center;

    flex: 1;

    z-index: 99;

    .marquee {
      font-size: 1.5rem;
    }
  }
}

#containerProjetos,
#containerCertificados {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
  align-items: stretch;

  height: 100%;

  /* align-items: center; */

  gap: 1rem;
}

#containerFormacao {
  /* background-color: rgba(240, 248, 255, 0.165); */

  height: 100%;
}

#containerContato {
  p {
    color: var(--gray);
    opacity: .7;
  }

  margin-bottom: 6rem;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  background-color: var(--background-devcard);
  padding: 2rem;
  border-radius: 1rem;

  border: 1px solid oklch(0.28 0.02 260);

  border-style: solid;

  font-family: "JetBrains Mono", monospace;

  gap: 0.5rem;
  transition: all .3s ease;

  &:hover {
    border: 1px solid var(--purple);

    transform: translateY(-10px) scale(1.01);

    @media (max-width: 800px) {
      transform: translateY(0px) scale(1.01);
      
    }

    box-shadow: 0px 0px 50px color-mix(in srgb, var(--purple) 20%, transparent);

    cursor: pointer;

    z-index: 99;
  }
}