#root {
  max-width: 1200px;
  margin-inline: auto;
}

html {
  overflow-x: hidden;
}

.mainContainer {
  display: flex;
  flex-direction: column;
  gap: 3.5rem;

  .tecnologias {
    background-color: rgba(0, 0, 0, 0.554);
    border-block: 1px solid #80808058;

    width: 100vw;
    height: 60px;

    margin-left: calc(50% - 50vw);
    margin-right: calc(50% - 50vw);
    overflow-y: hidden;

    display: flex;
    justify-content: center;
    align-items: center;

    flex: 1;

    z-index: 99;

    .marquee {
      font-size: 1.5rem;
    }
  }
}

.containerProjetos {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  align-items: stretch;

  height: 100%;

  /* align-items: center; */

  gap: 1rem;
}

.containerFormacao {
  /* background-color: rgba(240, 248, 255, 0.165); */

  height: 100%;
}
