.linha {
  padding-block: 1rem;

  display: flex;

  align-items: center;

  span {
    font-family: "JetBrains Mono", monospace;
    font-size: 14px;
    opacity: .5;
  }

  p {
    color: var(--gray);

    font-size: 14px;
    opacity: .7;
  }
}