.button {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 24px 28px;
  max-height: 55px;

  text-align: center;

  height: 100%;
  font-weight: bold;
  border-radius: 0.7rem;

  align-items: center;
  gap: 1rem;

  transition: all 0.2s ease;

  &:hover {
    opacity: 0.7;
    transform: scale(0.96);
  }

  
}


.primario {
  background-color: var(--purple);
  color: black;
}
.secundario {
  background-color: transparent;
  border: 1px solid var(--color-gray-600);
}
